##### {%if 'title' in op.Message()%}*{{op.Message().title}}*{%else%}*{{op.Message().name}}*{%endif%} Message:
**Message ID**: `{{op.Message().name}}`
{{op.Message().description}}
{%if 'externalDocs' in op.Message()%}
[{{op.Message()['externalDocs']['description']}}]({{op.Message()['externalDocs']['url']}})

{%endif-%}
<details>
<summary>
Payload: 
{%-set schema = op.Message().Schema() %}
</summary>

{% include 'description.md.jinja2' %}

</details>